* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

header {
    padding: 20px;
    background-color: #222;
    text-align: center;
}

h1 {
    color: #fff;
}

section, .anormal {
    background-color: #333;
    padding: 20px;
    margin: 0;
}

main {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

#inicio, section p {
    text-align: justify;
    line-height: 1.6;
}

#contacto {
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.social-icons-container {
    position: fixed;
    right: 20px;
    bottom: 10px;
    display: flex;
    gap: 15px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

#foto {
    float: left;
    margin-right: 20px;
    width: 25%;
    border-radius: 10px;
}

.table-horarios {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

.table-horarios th, .table-horarios td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.table-horarios th {
    background-color: #444;
    color: #fff;
}

.table-horarios tbody tr:nth-child(even) {
    background-color: #333;
}

h2 {
    text-align: center;
}

.table-horarios tbody tr:hover {
    background-color: #ddd;
}

.estilo-navegacion {
    width: 100%;
    background-color: #333;
    margin-top: 10px;
}

.letras {
    color: white;
    text-decoration: none;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin-right: 20px;
}

li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .redes-sociales {
        flex-direction: column;
        gap: 10px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }

    #foto {
        width: 80%;
        margin: 20px auto;
    }

    ol {
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    li {
        margin-right: 0;
        text-align: center;
        margin-top: 10px;
    }

    li a {
        padding: 1em;
        text-align: center;
    }
}


